.root {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background: none;
  border: none;
  font-size: 16px;

  svg {
    margin-right: 8px;

    path {
      fill: none;
      stroke: #fe5f1e;
    }
  }

  span {
    color: #fe5f1e;
    transition: stroke 0.15s ease-in-out color 0.15s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    svg {
      path {
        stroke: #f24701;
      }
    }

    span {
      color: #f24701;
    }
  }
}
